<p> On reflection show page <p>

<h2><%=@current_review.user.name%>'s Reflection on: <%=@current_review.book_title%></h2>

<p>Book's Author: <%=@current_review.author%><p>


<p>Personal Rating: <%=@current_review.book_rating%><p>
<p>Started Reading This Title: <%=@current_review.start_date%><p>
<p>Finished Reading This Title: <%=@current_review.finish_date%><p>
<p>Finished Reading This Title: <%=@current_review.finish_date%><p>

<h4>Reflection</h4>
<%=@current_review.review_content%>

<h4>Comments</h4>

<form id="add_comment" action="/review/<%=@current_review.id%>/comment/_new" method="get">
  <button type="submit">Add Comment</button>
</form>



<div id="comment_list">
  <ol>
  <%@current_review.comments.each do |comment|%>
    <li>
      <%=comment.content%>
      <br>
      Written By: <a href="/user/<%=comment.user.id%>"><%=comment.user.name%></a>
    </li>
  <%end%>
</ol>
</div>








